html {
	font-size: $base-font-size;
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: $color-blue;
	background: linear-gradient(4deg, rgb(14, 10, 103) 0%, rgb(36, 25, 119) 0%, rgba(64, 43, 187, 1) 58%);
	background-attachment: fixed;
	font-family: $font-base;
	color: white;
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

.pages {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	padding: 0 1rem;
}

.page {
	display: none;

	&.active {
		display: flex;
	}
}

.hidden {
	display: none !important;
	pointer-events: none;
	transition: opacity 0.4s ease;

	&.show {
		display: block !important;
		pointer-events: initial;
	}
}
