html {
	font-size: $base-font-size;
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: $color-blue;
	font-family: $font-base;
	color: white;
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

.pages {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	padding: 0 2rem;
}

.page {
	display: none;

	&.active {
		display: flex;
	}
}

.hidden {
	display: none;
	pointer-events: none;
	transition: opacity 0.4s ease;

	&.show {
		display: block;
		pointer-events: initial;
	}
}
