h1 {
	font-family: $font-alt;
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 2em;
	text-align: center;
	line-height: 1.1em;


	@media (max-width: 767px) {
		font-size: 2rem;
	}
}

h2 {
	font-family: $font-alt;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.1em;
}
