.page.capital-nerd-classic,
.page.capital-nerd-hard,
.page.flag-nerd-classic {
	flex-direction: column;
	align-items: center;

	h1 {
		margin-bottom: 1rem;
	}

	.flag-container {
		margin-top: 1rem;
		width: 15rem;

		.flag {
			height: 10rem;
			width: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			border: none;
		}
		
		.name{
			font-size: 1.3rem;
			text-transform: uppercase;
			text-align: center;
			font-weight: 700;
			margin-top: 0.5rem;
		}
	}

	.answer-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		margin-top: 1rem;

		@media (min-width: 768px) {
			gap: 2rem;
		}

		.country {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: white;
			color: $color-blue-darker;
			padding: 0.5rem 1rem;
			border-radius: 1000px;
			font-size: 1.2rem;
			cursor: pointer;
			box-shadow: 0.5rem 0.5rem 3rem 1rem rgba(0, 0, 0, 0.19);
			transition: transform 0.2s ease, background-color 0.2s ease;
			will-change: transform;
			outline: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

			@media (min-width: 768px) {
				padding: 1rem 2rem;
			}

			&:hover {
				transform: scale(1.02);
			}
			&:active {
				transform: scale(0.98);
			}
		}

		.valid {
			background-color: $color-green;
			color: white;
			font-weight: 700;
		}

		.invalid {
			background-color: $color-red;
			color: white;
		}
	}

	.progress-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin: 1rem 0;

		@media (min-width: 768px) {
			flex-direction: row;
		}

	}

	.progress {
		background-color: $color-blue-darker;
		color: white;
		width: fit-content;
		border-radius: 1000px;
		padding: 0.8rem 1.2rem;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.1rem;
		display: flex;
		align-items: center;
		gap: 1rem;

		.best {
			font-size: 0.7rem;
		}
	}

	.life-remaining {
		display: flex;
		gap: 0.3rem;

		.heart {
			height: 2rem;
			width: 2rem;

			svg {
				height: 100%;
				width: 100%;
			}

			&.loose {
				path {
					fill: none;
				}
			}
		}
	}

	.game-container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.win-message {
		display: none;

		&.show {
			display: flex;
		}

		flex-direction: column;
		align-items: center;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: 700;
		text-align: left;

		p {
			display: flex;
			align-items: center;
		}

		.bigger {
			font-size: 2em;
			margin-right: 1rem;
		}

		.btn {
			margin-top: 1rem;
		}


		@media (max-width: 767px) {
			br {
				display: none;
			}
		}
	}

	.loose-message {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		display: none;
		width: fit-content;
		max-width: 90%;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;

		&.show {
			display: flex;
		}

		flex-direction: column;
		align-items: center;

		font-size: 1.2rem;

		.btn {
			margin-top: 1rem;
		}
	}
}
