.page.home {
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		margin-bottom: 0;
	}

	.h1-subtitle {
		margin-bottom: 3rem;
	}
}

.game-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}
