.btn {
	position: relative;
	display: block;

	padding: 1rem 2.5rem;
	width: fit-content;
	min-width: 6rem;

	color: $color-blue-darker;

	border-radius: 1000px;

	font-family: $font-alt;
	text-align: center;
	text-decoration: none;

	box-shadow: 0.5rem 0.5rem 3rem 1rem rgba(0, 0, 0, 0.19);
	overflow: hidden;
	transition: transform 0.2s ease;
	will-change: transform;

	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: white;
		border-radius: 1000px;
		z-index: -1;
	}

	&:hover {
		transform: scale(1.05);
	}

	&:active{
		transform: scale(0.95);
	}

	&.btn-big{
		font-weight: 900;
		text-transform: uppercase;
	}
}

