header {
	position: relative;
	z-index: 1;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 767px) {
		padding: 1rem;
	}
	pointer-events: none;

	.logo {
		pointer-events: initial;
		position: relative;
		display: flex;
		align-items: center;
		gap: 1rem;
		text-transform: uppercase;

		font-family: $font-alt;
		font-size: 2rem;
		line-height: 1em;
		font-weight: 900;
		color: white;
		text-decoration: none;

		transition: transform 0.2s ease;
		will-change: transform;

		outline: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		img {
			width: 11rem;
			height: 3rem;
			transition: opacity 0.2s ease-out, transform 0.2s ease-out;
		}

		span {
			display: block;
		}

		&:hover {
			img {
				opacity: 0.9;
			}
		}

		&:active {
			img {
				transform: scale(0.96);
			}
		}
	}

	.menu {
		pointer-events: initial;
		height: 4rem;
		width: 4rem;
		background-color: $color-blue-medium;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		box-shadow: 0.1rem 0.1rem 1rem 0.5rem rgba(0, 0, 0, 0.08);
		transition: transform 0.2s ease;
		will-change: transform;
		outline: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&::before {
			content: '';
			position: absolute;
			height: 70%;
			width: 70%;
			top: 55%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: url('/img/settings.svg');
			background-size: contain;
			background-repeat: no-repeat;
		}

		&:hover {
			transform: scale(1.05);
		}

		//&::before {
		//	content: '';
		//	position: absolute;
		//	height: 2px;
		//	width: 50%;
		//	top: 38%;
		//	right: 26%;
		//	background-color: white;
		//}
		//
		//&::after {
		//	content: '';
		//	position: absolute;
		//	height: 2px;
		//	width: 40%;
		//	top: 55%;
		//	right: 26%;
		//	background-color: white;
		//}
	}
}
