.icon {
	display: none;
	height: 1.5em;
	width: 1.5em;
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	border-radius: 50%;

	&.icon-country {
		background-image: url('/img/icon-country-nerd.svg');
	}
	&.icon-capital {
		background-image: url('/img/icon-capital-city-nerd.svg');
	}
	&.icon-flag {
		background-image: url('/img/icon-flag-nerd.svg');
	}
}
