.win-message {
	display: none;

	&.show {
		display: flex;
	}

	flex-direction: column;
	align-items: center;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 700;
	text-align: left;

	p {
		display: flex;
		align-items: center;
	}

	.bigger {
		font-size: 2em;
		margin-right: 1rem;
	}

	.btn {
		margin-top: 1rem;
	}


	@media (max-width: 767px) {
		br {
			display: none;
		}
	}
}

.loose-message {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	width: fit-content;
	max-width: 90%;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;

	&.show {
		display: flex;
	}

	flex-direction: column;
	align-items: center;

	font-size: 1.2rem;

	.btn {
		margin-top: 1rem;
	}
}
